In [1]:
import numpy as np

CREATING THE ARRAY WITH ZEROS

1D array

In [3]:
a = np.zeros(5)
a

array([0., 0., 0., 0., 0.])

2D array

In [4]:
b = np.zeros((4,5))
b

array([[0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.]])

CREATING AN ARRAY WITH "1'S"

In [5]:
x = np.ones(5)
x

array([1., 1., 1., 1., 1.])

CREATING AN EMPTY ARRAY

In [8]:
y = np.empty(5)
y

array([1., 1., 1., 1., 1.])

CREATING AN ARRAY WITH "RANGE FUNCITON"

In [9]:
z = np.arange(5)
z

array([0, 1, 2, 3, 4])

CREATING AN ARRAY IN THE DIAGONAL FORMAT

In [10]:
h = np.eye(3)
h

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

CREATING AN ARRAY WITH GAP BETWEEN THE NUMEBRS

In [13]:
j = np.linspace(0,20, num= 5)
j

array([ 0.,  5., 10., 15., 20.])